{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Add Award{% endblock %}
{% block page_title %}Add Award{% endblock %}
{% block extra_head %}
<link rel='stylesheet' href='{% static "cvhub_app/form_css.css" %}' />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

{% endblock %}

{% block content %}
<div id='form'>
<table>
<!-- {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %} -->
<form action="/add-award/" method="post">
    {% csrf_token %}
    {{ form }}
    <tr><td class='center_me'><input type="submit" value="Submit" /></td></tr>
</form>
</table>

</div>

<script type='text/javascript'>
$(document).ready( function() {
	$("textarea").attr('cols', 35)
	$("textarea").attr('rows', 5)

	$("#id_date_awarded" ).datepicker({
    showButtonPanel: true,
    changeMonth: true,
    changeYear: true,
    showOtherMonths: true,
    selectOtherMonths: true ,
    yearRange: "-100:+50"
});
	
	
	


});

$(document).click(function() {
	$("#ui-datepicker-div").css('z-index', '100000000');
});

</script>
{% endblock %}