{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Search Resumes{% endblock %}
{% block page_title %}Search Resumes {% endblock %}
{% block extra_head %}
<link rel='stylesheet' href='{% static "cvhub_app/profile_css.css" %}' />

{% endblock %}


{% block content %}
<div id='form'>
<form action="/choose-resume-to-edit/" method="post">
    {% csrf_token %}
    <br> <br>
  	Keywords: <input type="text" name="keywords"> <br>
    Number of results: <input type="number" name="num_resumes_to_return" value="5" min = 1> 
    <br>
  	<input type="submit" name="search_resumes" value="Search">

</form>
</div>
{% endblock %}
