{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Edit Experience{% endblock %}
{% block page_title %}Edit Experience{% endblock %}
{% block extra_head %}
<link rel='stylesheet' href='{% static "cvhub_app/form_css.css" %}' />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

{% endblock %}

{% block content %}
<div id='form'>
<table>
<form action="/edit-experience/" method="post">
    {% csrf_token %}
    {{ form }}
    <input name='experience_id' type='hidden' value={{experience_id}}></input>
    <tr><td class='center_me'><input type="submit" value="Submit" /></td></tr>
</form>
</table>

</div>

<script type='text/javascript'>
$(document).ready( function() {
	$("textarea").attr('cols', 35)
	$("textarea").attr('rows', 5)

	$("#id_start_date" ).datepicker({
    showButtonPanel: true,
    changeMonth: true,
    changeYear: true,
    showOtherMonths: true,
    selectOtherMonths: true ,
    yearRange: "-100:+50"
});
	$("#id_end_date" ).datepicker({
    showButtonPanel: true,
    changeMonth: true,
    changeYear: true,
    showOtherMonths: true,
    selectOtherMonths: true ,
    yearRange: "-100:+50"
});

	
	


});

$(document).click(function() {
	$("#ui-datepicker-div").css('z-index', '100000000');
});

</script>
{% endblock %}