{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Edit Your Information{% endblock %}
{% block page_title %}Edit Your Information{% endblock %}
{% block extra_head %}
<link rel='stylesheet' href='{% static "cvhub_app/form_css.css" %}' />
{% endblock %}

{% block content %}
<div id='form'>
{% if name_taken %}
Sorry, that resume URL is already taken.
{% endif %}
<br> <br>
<form action="/edit-information/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
</div>
{% endblock %}