{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Edit Skill{% endblock %}
{% block page_title %}Edit Skill{% endblock %}
{% block extra_head %}
<link rel='stylesheet' href='{% static "cvhub_app/form_css.css" %}' />

{% endblock %}

{% block content %}
<div id='form'>
<table>
<form action="/edit-skill/" method="post">
{% if errors %}
<center>{{errors}}</center><br>
{% else %}
{% endif %}
    {% csrf_token %}
    {{ form }}
    <input name='skill_id' type='hidden' value={{skill_id}}></input>
    <tr><td class='center_me'><input type="submit" value="Submit" /></td></tr>
</form>

</table>

</div>

{% endblock %}