{% extends 'login_base.html' %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block page_title %}Login{% endblock %}
{% block extra_head %}
<link rel='stylesheet' href='{% static "cvhub_app/form_css.css" %}' />
{% endblock %}

{% block content %}
<div id='shorter_form'>

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <table>
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}

            <tr>
                <th>{{ form.username.label_tag }}</th>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <th>{{ form.password.label_tag }}</th>
                <td>{{ form.password }}</td>
            </tr>
   

       <tr><td class='center_me'><input type="submit" value="Log In" /></td></tr>

       <input type="hidden" name="next" value="{{ next }}" />
   </form>
       </table><center>
       <a href='/create-user/'>Not Registered?</a></center>

</div>


{% endblock %}


