{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Recently Commented Resumes{% endblock %}
{% block page_title %}Recently Commented Resumes {% endblock %}
{% block extra_head %}
<link rel='stylesheet' href='{% static "cvhub_app/form_css.css" %}' />

{% endblock %}

{% block content %}
<div id='form'>

<table>
<form action="/mrc-resumes/" method="post">
    {% csrf_token %}
    {{ form }}
    <tr><td class='center_me'><input type="submit" value="Submit" /></td></tr>
</form>

</table>

</div>

{% endblock %}

