{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Edit Your Resume{% endblock %}
{% block page_title %}Edit Your Resume{% endblock %}
{% block extra_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinysort/2.2.2/tinysort.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.11/slideout.min.js"></script>
<link rel='stylesheet' href='{% static "cvhub_app/profile_css.css" %}' />

{% endblock %}


{% block content %}
{% csrf_token %}


<div id=0>
<div style='height: 25px'> </div>
<h2>Your Information</h2><div class='section_edit'><a href='/edit-information/'>Edit</a></div>
<hr>
<ul class='normal'>
	<li> Name: {{user.user_info.display_name}}
	</li>
	<li> Email: {{user}}
	</li>
	<li> {{user.user_info.points}} Rep Points
	</li>
	<li> Member since {{user.date_joined}}
	</li>
	<li> Phone: {{user.user_info.phone_number}}
	</li>
	<li> Website: {{user.user_info.website}}
	</li>
	<li> Born on: {{user.user_info.dob}}
	</li>
	<li> My Public Resume URL Ending: {{user.user_info.resume_url}}
	</li>
</ul>
</div>


<div id='sortme'>
<div id={{user_info.education_order}}>
<h2>Your Education</h2><div class='section_edit'>
<a href='/move-up-section/education/'>Move Up</a> | <a href='/move-down-section/education/'>Move Down</a> | <a href='/enable-section/education/'>Enable All</a> | <a href='/disable-section/education/'>Disable All</a>
</div>
<hr>

<ul>
{% for info in education_list %}
<li>

	{% if info.enabled %}

	{{info.school}} in {{info.location}}

	<div class='line_edit'>{% with info.id|stringformat:"s" as id %}<a href='/edit-education/{{id}}'>Edit</a> | <a href='/move-up-education/{{id}}'>Move Up</a> | <a href='/move-down-education/{{id}}'>Move Down</a> | <a href='/disable-education/{{id}}'>Disable</a> | <a href='/remove-education/{{id}}'>Remove</a>{% endwith %}</div>

	
	
	{% else %}

	{{info.school}} in {{info.location}} 

	<div class='line_edit'>{% with info.id|stringformat:"s" as id %}<a href='/edit-education/{{id}}'>Edit</a> | <a href='/move-up-education/{{id}}'>Move Up</a> | <a href='/move-down-education/{{id}}'>Move Down</a> | <a href='/enable-education/{{id}}'>Enable</a> | <a href='/remove-education/{{id}}'>Remove</a>{% endwith %}</div>

	

	{% endif %}


		<ul>
			<li> Attending from {{info.start_date}} to {{info.end_date}}
			</li>
			{% for key, value in bps.items %}
			{% if key == info %}
			{% for text in value %}

			<li id={{text.id}} enabled={{text.enabled}}>
			{% if text.enabled %}
			{{text.text}}
			{% else %}
			{{text.text}}
			{% endif %}
			</li>

			{% endfor %}
			{% endif %}
			{% endfor %}
			<li><a href='/add-education-bp/{{info.id}}'>Add Detail Bullet Point</a></li>
			<br>
		</ul>
	
</li>


{% endfor %}
<li><a href='/add-education'>Add New Education</a></li>
</ul>
</div>

<div id={{user_info.skill_order}}>
<h2>Your Skills</h2><div class='section_edit'><a href='/move-up-section/skill/'>Move Up</a> | <a href='/move-down-section/skill/'>Move Down</a> | <a href='/enable-section/skill/'>Enable All</a> | <a href='/disable-section/skill/'>Disable All</a></div><hr>
<ul>
{% for info in skill_category_list %}
<li>

	{% if info.enabled %}

	{{info.category}}

	<div class='line_edit'>{% with info.id|stringformat:"s" as id %}<a href='/edit-skill/{{id}}'>Edit</a> | <a href='/move-up-skill/{{id}}'>Move Up</a> | <a href='/move-down-skill/{{id}}'>Move Down</a> | <a href='/disable-skill/{{id}}'>Disable</a> | <a href='/remove-skill/{{id}}'>Remove</a>{% endwith %}</div>
	

	{% else %}

	{{info.category}}

	<div class='line_edit'>{% with info.id|stringformat:"s" as id %}<a href='/edit-skill/{{id}}'>Edit</a> | <a href='/move-up-skill/{{id}}'>Move Up</a> | <a href='/move-down-skill/{{id}}'>Move Down</a> | <a href='/enable-skill/{{id}}'>Enable</a> | <a href='/remove-skill/{{id}}'>Remove</a>{% endwith %}</div>

	{% endif %}

		<ul>
			
			{% for key, value in bps.items %}
			{% if key == info %}
			{% for text in value %}

			<li id={{text.id}} enabled={{text.enabled}}>
			{% if text.enabled %}
			{{text.text}}
			{% else %}
			{{text.text}}
			{% endif %}
			</li>

			{% endfor %}
			{% endif %}
			{% endfor %}
			<li>
			<a href='/add-skill-bp/{{info.id}}'>Add Skill</a>
			</li>
			<br>
		</ul>
</li>


{% endfor %}
<li><a href='/add-skill-category'>Add New Skill Category</a></li>
</ul>
</div>

<div id={{user_info.experience_order}}>
<h2>Your Experience</h2>
<div class='section_edit'>
<a href='/move-up-section/experience/'>Move Up</a> | <a href='/move-down-section/experience/'>Move Down</a> | <a href='/enable-section/experience/'>Enable All</a> | <a href='/disable-section/experience/'>Disable All</a>
</div><hr>
<ul>
{% for info in experience_list %}
<li>

	{% if info.enabled %}

	{{info.title}} at  {{info.employer}}

	<div class='line_edit'>{% with info.id|stringformat:"s" as id %}<a href='/edit-experience/{{id}}'>Edit</a> | <a href='/move-up-experience/{{id}}'>Move Up</a> | <a href='/move-down-experience/{{id}}'>Move Down</a> | <a href='/disable-experience/{{id}}'>Disable</a> | <a href='/remove-experience/{{id}}'>Remove</a>{% endwith %}</div>

	{% else %}

	{{info.title}} at  {{info.employer}}

	<div class='line_edit'>{% with info.id|stringformat:"s" as id %}<a href='/edit-experience/{{id}}'>Edit</a> | <a href='/move-up-experience/{{id}}'>Move Up</a> | <a href='/move-down-experience/{{id}}'>Move Down</a> | <a href='/enable-experience/{{id}}'>Enable</a> | <a href='/remove-experience/{{id}}'>Remove</a>{% endwith %}</div>

	{% endif %}

	
		<ul>
			</li>
			{% if info.current == True %}
			<li> Currently employed; started on {{info.start_date}}
			</li>

			{% else %}

			<li> Employed from {{info.start_date}} to {{info.end_date}}
			</li>

			{% endif %}
			
			{% for key, value in bps.items %}
			{% if key == info %}
			{% for text in value %}

			<li id={{text.id}} enabled={{text.enabled}}>
			{% if text.enabled %}
			{{text.text}}
			{% else %}
			{{text.text}}
			{% endif %}
			</li>

			{% endfor %}
			{% endif %}
			{% endfor %}
			<li><a href='/add-experience-bp/{{info.id}}'>Add Detail Bullet Point</a></li>
			<br>
		</ul>
</li>


{% endfor %}
<li><a href='/add-experience'>Add New Experience</a></li> 
</ul>
</div>

<div id={{user_info.award_order}}>
<h2>Your Awards</h2>
<div class='section_edit'>
<a href='/move-up-section/award/'>Move Up</a> | <a href='/move-down-section/award/'>Move Down</a> |  <a href='/enable-section/award/'>Enable All</a> | <a href='/disable-section/award/'>Disable All</a>
</div>
<hr>
<ul>
{% for info in award_list %}
<li>

	{% if info.enabled %}

	{{info.name}} from {{info.issuer}}

	<div class='line_edit'>{% with info.id|stringformat:"s" as id %}<a href='/edit-award/{{id}}'>Edit</a>  | <a href='/move-up-award/{{id}}'>Move Up</a> | <a href='/move-down-award/{{id}}'>Move Down</a> | <a href='/disable-award/{{id}}'>Disable</a> |  <a href='/remove-award/{{id}}'>Remove</a>{% endwith %}</div>

	{% else %}

	{{info.name}} from {{info.issuer}}

	<div class='line_edit'>{% with info.id|stringformat:"s" as id %}<a href='/edit-award/{{id}}'>Edit</a>  | <a href='/move-up-award/{{id}}'>Move Up</a> | <a href='/move-down-award/{{id}}'>Move Down</a> | <a href='/enable-award/{{id}}'>Enable</a> |  <a href='/remove-award/{{id}}'>Remove</a>{% endwith %}</div>

	{% endif %}


	
		<ul>
			</li>
			<li> Given by {{info.issuer}} on {{info.date_awarded}}
			</li>
			
			{% for key, value in bps.items %}
			{% if key == info %}
			{% for text in value %}

			<li id={{text.id}} enabled={{text.enabled}}>
			{% if text.enabled %}
			{{text.text}}
			{% else %}
			{{text.text}}
			{% endif %}
			</li>

			{% endfor %}
			{% endif %}
			{% endfor %}
			<li><a href='/add-award-bp/{{info.id}}'>Add Detail Bullet Point</a></li>
			<br>
		</ul>
</li>


{% endfor %}
<li> <a href='/add-award'>Add New Award</a></li>
</ul>
</div>
</div>
</div>
<script type='text/javascript'>
tinysort('#sortme > div',{attr: 'id'})
$( "#container li li" )
  .mouseenter(function(e) {
  	if ($(e.target).find(".bullet_edit").length > 0){ 

  	} 

  	else {
  		var bp_id = $(e.target).attr('id')
  		var enabled = $(e.target).attr('enabled')

  		if (bp_id && enabled =="True") {
  			$(e.target).append("<ul class='bullet_edit'><li><div><a href='/move-up-bp/"+bp_id+"'>Move Up</a> | <a href='/move-down-bp/"+bp_id+"'>Move Down</a> | <a href='/disable-bp/"+bp_id+"'>Disable</a> | <a href='/remove-bp/"+bp_id+"'>Remove</a></div></li></ul>")
  		} 

  		else if (bp_id && enabled =="False") {
  			$(e.target).append("<ul class='bullet_edit'><li><div><a href='/move-up-bp/"+bp_id+"'>Move Up</a> | <a href='/move-down-bp/"+bp_id+"'>Move Down</a> | <a href='/enable-bp/"+bp_id+"'>Enable</a> | <a href='/remove-bp/"+bp_id+"'>Remove</a></div></li></ul>")
  		}
  		
  	}

  	
  })
  .mouseleave(function(e) {
    $("ul.bullet_edit").remove();
  });
</script>
{% endblock %}