<h1> Your Resume </h1>

<h2>Your Contact Info</h2>
<h2>Your Education</h2>

<ul>
{% for info in education_list %}
{% if info.enabled == True %}
<li>
	{{info.school}} in {{info.location}} {% with info.id|stringformat:"s" as id %}<a href='/edit-education/{{id}}'>Edit</a>{% endwith %}
		<ul>
			<li> Attending from {{info.start_date}} to {{info.end_date}}
			</li>
			<li> GPA: {{info.gpa}}
			</li>
			<li> Degree: {{info.get_degree_type_display}}
			</li>
			<li> Enabled: {{info.enabled}}
			</li>
			{% for key, value in bps.items %}
			{% if key == info %}
			{% for text in value %}

			<li>
			{{text.text}}
			</li>

			{% endfor %}
			{% endif %}
			{% endfor %}
		</ul>
</li>

{% endif %}
{% endfor %}
</ul>

<h2>Your Skills</h2>
<h2>Your Experience</h2>
<h2>Your Awards</h2>