{% load staticfiles %}

<html>

	<head>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link rel='stylesheet' href='{% static "cvhub_app/resume_template_css.css" %}' />

	</head>

	<body>

		<div id='container'>


			<h1 class='title small_caps' database_id=34>Lane McHugh Miles</h1>

			<div class='contact'>
				<span class='email'>Lane.Miles@Pomona.edu</span>
				<span class='divider_pipe'> | </span>
				<span class='phone'>301-325-7737</span>
				<span class='divider_pipe'> | </span>
				<span class='url'>www.lanemiles.com</span>
			</div>

			<!-- <div class='summary'>
				<span class='summary_text italics'>
					A fast-learning and self-motivated student leader passionate about computer science, politics, and their intersections
				</span>
			</div> -->

			<div class='section'>

				<span class='section_name small_caps bold'>EDUCATION:</span>

				<hr class='section_hr'>

				{% for info in education_list %}
				{% if info.enabled == True %}

				<div class='item'>

					<div class='main_row'>

						<span class='row_left'>

						<span class='item_title bold'>{{info.school}}</span>, <span class='item_sub_title'>{{info.location}}</span>

						</span>

						<span class='row_right'>

						<span class='item_date italics'>Expected Graduation: May 2017</span>

						</span>

					</div>

					<div class='row_clear'></div>

					<div class='bullet_points'>

						<ul class='bullet_point_ul'>

							<li class='bullet_point_li'><span class='bullet_point_item'>BA, Computer Science</span></li>
							<li class='bullet_point_li'><span class='bullet_point_item'>GPA: 3.98</span></li>
							<li class='bullet_point_li'><span class='bullet_point_item'>Relevant Coursework: Data Structures and Algorithms, Intermediate Algorithms, Database Systems, Computer Systems, Introduction to Software Engineering, Computability and Logic, Linear Algebra, Discrete Mathematics</span></li>
							

						</ul>

					</div>

				</div>

				{% endif %}
				{% endfor %}

			</div>



		</div>

	</body>

</html>