#container {
	position: relative;
	top: 30px;
	font-family: Garamond;
	width: 800px;
	margin: 0 auto;
	height: 100%;
}

#form {
    height: 600px;
    width: 600px;
    margin: 0 auto;
    padding: 0px;
    text-align:center;
}

#shorter_form {
    height: 200px;
    width: 600px;
    margin: 0 auto;
    padding: 0px;
    text-align:center;
}

label {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
    font-size: 20px;
    font-weight: bold;
}

input {
    height: 20px;
    margin-top: 10px;
    float: left;
    width: 200px;
}

select {
	 height: 20px;
    margin-top: 10px;
    float: left;
    width: 200px;
}

input[type=submit] {
	padding-top: 25px;
	clear: both;
	width: 50px;
	text-align: center;
	margin-left: 300px;

}