#container {
	position: relative;
	top: 30px;
	font-family: Garamond;
	width: 800px;
	margin: 0 auto;
	height: 100%;
}

#form {
    width: 800px;
    margin: 0 auto;
}


#container table {
    margin: 0 auto;

}

#container tr {
    display: block;
}

#container input {

    font-size: 14px;
    font-family: Garamond;
    width: 230px;
}

#container input[type=submit] {

    font-size: 14px;
    font-family: Garamond;
    width: 100px;
    margin-left: 180px;
    margin-top: 10px;
}


#container textarea {

    font-size: 14px;
    font-family: Garamond;
    width: 230px;
}

#container th {
    width: 200px;
    text-align: right;
    padding-right: 30px;

    font-size: 20px;
    font-weight: bold;
}

