body {
	margin: 0;
	padding: 0;
	background-color: 	#F8F8F8;
	font-family: Garamond;
	width: 100%;
	height: 100%;
}


.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  display: none;
  background-color: #4096EE;
  padding-top: 45px;
  box-shadow: 1px 1px 1px #888888;
}

.slideout-panel {
  position:relative;
  z-index: 5;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}


.toggle-button {
	font-size: 40px;
	display: inline;
	margin-left: 17px;
	position: fixed;
	margin-top: 7px;
	color: white;
	cursor: pointer;
}


.page_title {
	text-align: center;
	font-size: 35px;
	margin-top: -55px;

}

#outer_container {
	position: relative;
	top: 75px;
	width: 100%;
	z-index: 3;
	background-color: 	#F8F8F8;
}

#header {
	height: 70px;
	width: 100%;
	background-color: #4096EE;
	position: fixed;
	z-index: 10;
	box-shadow: 0px 1px 1px #888888;
	font-family: Avenir;

}

.login {
	position: fixed;
	top: 8;
	right: 0;
	margin-right: 40px;
	z-index: 11;
	font-size: 17px;
	color: black;
	font-family: Avenir;

}

.login a{
	color: white;
	text-decoration: none;
}

.login a:hover{
	color: #F8F8F8;
	text-decoration: underline;
}


#logo {
	padding-left: 80px;
	font-weight: bold;
	margin-top: 3px;
}

.logo_title {
	font-size: 50px;
	color: white;


}

.menu1 {
	font-family: Avenir;
}

.menu1 a{
	color: white;

	font-size: 16px;
	text-decoration: none;
}

.menu1 a:hover{
	text-decoration: underline;
	color: black;
}


ul.menu1 li {
	list-style-type: circle;
	margin-bottom: 3px;
	margin-left: 25px;
}

.upper_right {
	float: right;
	margin-top: -60px;
}

.link_header {
	text-align: center;
	font-family: Avenir;
	font-size: 20px;
	margin-top: 40px;
}

.menu_hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 0 auto;
    margin-top: -12px;
    width: 75%;
    padding: 0; 
    	padding-bottom: 5px;
}

.url a{
	width: 160px;
	word-wrap: break-word;
	display: block;
	text-align: center;
	font-family: Avenir;
	margin: 0 auto;
	color: white;
	font-size: 16px;
	text-decoration: none;
	margin-top: 10px;
}

.url a:hover{
	text-decoration: underline;
}

a.menu_link{
	display: block;
	text-align: center;
	font-family: Avenir;
	color: white;
	font-size: 16px;
	text-decoration: none;
	margin-top: 10px;
}

/*a.menu_link:visited{
	display: block;
	text-align: center;
	font-family: Avenir;
	color: white;
	font-size: 16px;
	text-decoration: none;
	margin-top: 10px;
}*/

a.menu_link:hover {
	text-decoration: underline;
}








