#container {
	font-family: Garamond;
	width: 800px;
	margin: 0 auto;
}

#container_pdf {
	font-family: Garamond;
	margin: 0 auto;
	background: gray;
}

#container span:hover {
	color: blue;
	cursor: pointer;
}

.title {
	text-align: center;
	margin-bottom: 0px;
}

.contact {
	text-align: center;

}

.summary {
	text-align: center;
	width: 700px;
	margin: 0 auto;
	margin-bottom: 15px;
	
}

.section {
	width: 700px;
	margin: 0 auto;
}

.section_name {
	font-size: 11pt;
}

.section_hr {
	border: 0px;
	height: 1px;
	background: black;
	margin-top: -1px;
}

.row_right {
	float: right;
	max-width: 250px;

}

.row_left {
	float: left;
}

.row_clear {
	clear: both;
	height: 1px;
}


.item {
	margin-bottom: 15px;
	margin-left: 10px;
}

.bullet_point_ul {
	margin-top: 3px;
	margin-bottom: 0px;
}

.bullet_point_li {
	margin-top: 2px;
	margin-left: -10px;
}


.small_caps {
	font-variant: small-caps;
}


.bold {
	font-weight: bold;
}

.italics {
	font-style: italic;
}

#pdf {
	text-align: center;
}
